<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="landingPage.css">

  </head>
  <body>
    <header>
        <a href="/sign-in">Sign-in</a>
        <a href="/cart/view">View Cart</a>
    </header>
    <div>
        <table>
            {% for row in inventory %}
            <tr>
                {% for item in row.values() %}
                <td>
                    <div class="item-container">
                        <p>{{ item.name }}</p>
                        <p>$ {{ item.price }}</p>
                        <form action="/cart/add">
                            <input type="checkbox" id="itemSelection" name="itemSelection" value="1">
                            <label for="itemSelection"> Add to Cart </label><br>
                        </form>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
  </body>

</html>