<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css"  href="landingPage.css">

  </head>
  <body>
    <header>
        <a href="/sign-in">Sign-in</a>
        <a href="/cart/view">View Cart</a>
        <a href="/reqReport">Generate a Report</a>
    </header>
    <div>
        <table>
            {% for row in inventory %}
            <tr>
                {% for item in row.values() %}
                <td>
                    <div class="item-container">
                        <p>{{ item.name }}</p>
                        <p>$ {{ item.price }}</p>
                        <form action="/cart/add" method=POST>
                            <label>Quantity:</label>
                            <input name="item-quantity"/>
                            <input type=submit value="Add to Cart"/>
                        </form>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
  </body>

</html>