<html>
  <head>
    <title>Sign In Page</title>
  </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.header {
    overflow: hidden;
    background-color: #ff7a95;
    padding: 20px;
    margin-right: -10px;
    margin-left: -10px;
    height: 100px;
}
</style>
  <body bgcolor="white">
  <div class="header"></div>
  <ol style= "text-align: center">
  <form action="/customer/add" method=POST>
          <label>SIGN IN</label>
          <br>
          Email/Username: <input name="Email" or name="Username" type="text" required>
          <br>
          Password: <input name="Password" type="text" required>
          <br>
          <input type=submit  value="Log In"/>
        </form>
  </ol>
  </body>
</html>